<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prueba.pruebakotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SharedJava.SharedJava">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SharedKotlin.CerrarSesion"
            android:label="@string/title_activity_cerrar_sesion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SharedKotlin.MainActivity">

        </activity>
        <activity android:name=".SharedJava.Detalle" />
    </application>

</manifest>